.admin-dashboard {
    display: flex;
    height: 100vh;
    background-color: #000;
  
    .sidebar {
      width: 200px;
      background-color: #333;
      color: #fff;
      height: 100%;
      padding-top: 20px;
      position: fixed;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s;
          
          &.active {
            background-color: #444;
            font-weight: bold;
          }
  
          &:hover {
            background-color: #444;
          }
        }
      }
    }
    .got
    {
      margin-left: 200px; /* Offset by the width of the sidebar */
      padding: 20px;
      background-color: #f4f4f4;
      width: calc(100% - 200px); /* Adjust width to fill the remaining space */
      height: 100%;

    }
  
    .admin-content {
      margin-right: 20px; /* Offset by the width of the sidebar */
      padding: 20px;
      background-color: #f4f4f4;
      width: calc(100% ); /* Adjust width to fill the remaining space */
      height: 100%;
      
      .dashboard, .recipes, .cuisines {
      }
    }
  }
  
.admin-btn
{
  padding-bottom: 30px;
  width: 150px;
}

.hit
{
  color: rgb(0, 0, 0);
}